In [1]:
# Dawid Maziarski 405353

# Dataset 5

import pandas as pd

# Odczyt oryginalnych danych i ich wstępne edytowanie
df = pd.read_csv('Datasets\earthquake_data.csv')
l = list(df.columns.values)
l_c = l[7:9] + l[2:3] # l_c lista zawierająca kolumny: [wiek, płeć, odpowiedź na pytanie]
df = df[l_c] # Ograniczamy zbiór danych tylko do trzech interesujących nas kolumn
df = df.rename(columns={l_c[1]: 'Gender', l_c[2]: 'Answer'}) # Zmiana nazw kolumn na łatwiejsze do pracy
print("Do you think the \"Big One\" will occur in your lifetime?")
display(df)

Do you think the "Big One" will occur in your lifetime?

          Age  Gender Answer
0     18 - 29    Male     No
1     18 - 29    Male     No
2     18 - 29    Male     No
3     18 - 29    Male     No
4     18 - 29    Male    Yes
...       ...     ...    ...
1008       60    Male     No
1009       60  Female     No
1010  30 - 44  Female     No
1011  30 - 44  Female     No
1012      NaN     NaN     No

[1013 rows x 3 columns]

**Powyższy zbiór danych jest bardzo nieczytelny przez swoją długość. Poniżej został on uporządkowany.**

**Podzieliłem go na 2 tabele, każda dla innej płci. Tabela zawiera liczby odpowiedzi na tak i na nie
ludzi w różnych przedziałach wiekowych.**

In [2]:
# Wyodrębnione zostały płcie i odpowiedzi tak i nie
df_yes = df[df['Answer'] == 'Yes']
df_no = df[df['Answer'] == 'No']
df_male_yes = df_yes[df_yes['Gender'] == 'Male']
df_male_no = df_no[df_no['Gender'] == 'Male']
df_female_yes = df_yes[df_yes['Gender'] == 'Female']
df_female_no = df_no[df_no['Gender'] == 'Female']

# Sporządzone zostały listy odpowiedzi dla różnych przedziałów wiekowych
ages = ['18 - 29', '30 - 44', '45 - 59', '60']
male_val = [[len(df_male_yes[df_male_yes['Age'] == age]), len(df_male_no[df_male_no['Age'] == age])] for age in ages]
female_val = [[len(df_female_yes[df_female_yes['Age'] == age]), len(df_female_no[df_female_no['Age'] == age])] for age in ages]

print("Poniżej znajdują się dwie tabele opinii mężczyzn i kobiet \nw różnych przedziałach wiekowych na temat tego \nczy trzęsienie ziemii \"Big One\" wystąpi w ich życiu.")

# Tabela odpowiedzi mężczyzn
data = {age: male_val[i] for i, age in enumerate(ages)}
tab_male = pd.DataFrame(data, index=['Yes', 'No']).style.set_caption("Males - do you think the \"Big One\" will occur in your lifetime?")
display(tab_male)

# Tabela odpowiedzi kobiet
data = {age: female_val[i] for i, age in enumerate(ages)}
tab_female = pd.DataFrame(data, index=['Yes', 'No']).style.set_caption("Females - Do you think the \"Big One\" will occur in your lifetime?")
display(tab_female)

Poniżej znajdują się dwie tabele opinii mężczyzn i kobiet
w różnych przedziałach wiekowych na temat tego
czy trzęsienie ziemii "Big One" wystąpi w ich życiu.